<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            tools:replace="android:value"
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1llLVQNcKxi9uCw_C2M3_zhHV6GvdO0U" />
    </application>
</manifest>
