<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1549607298-iks0jrkpfh1qebul8nsj28h8u1uq8dmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1549607298-iks0jrkpfh1qebul8nsj28h8u1uq8dmd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1549607298-n6dsflao2cn0rrsdgc9k07muta9fmmkp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPIzySod2VP03trJRpzsmrmEPpdVuoJO0</string>
	<key>GCM_SENDER_ID</key>
	<string>1549607298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.marketeermerchantapp</string>
	<key>PROJECT_ID</key>
	<string>marketeerph-b9653</string>
	<key>STORAGE_BUCKET</key>
	<string>marketeerph-b9653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1549607298:ios:42708412fd9678aa09af9b</string>
	<key>DATABASE_URL</key>
	<string>https://marketeerph-b9653.firebaseio.com</string>
</dict>
</plist>